@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --tertiaryColor: #FF5400;
    --darkColor: #131318;
    --simpleDark: #424247;
}
img{
    vertical-align: middle;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
button{
    cursor: pointer;
}
body{
    font-family: 'Mulish', sans-serif;
}
/* Shared Classes Starts Here */
.container{
    width: 85%;
    max-width: 1440px;
    margin: 0 auto;
}
.full-width{
    width: 100%;
}
.section-gap{
    padding-bottom: 100px;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
.d-inline-block{
    display: inline-block;
}
.d-flex{
    display: flex;
}
.align-items-center{
    align-items: center;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content--center{
    justify-content: center;
}
.text-white{
    color: #fff;
}
.text-dark{
    color: var(--darkColor);
}
.text-dark-simple{
    color: var(--simpleDark);
}
.text-tertiary{
    color: var(--tertiaryColor);
}
/* Typography Starts Here */
.fw-200{
    font-weight: 200;
}
.fw-300{
    font-weight: 300;
}
.fw-400{
    font-weight: 400;
}
.fw-500{
    font-weight: 500;
}
.fw-600{
    font-weight: 600;
}
.fw-700{
    font-weight: 700;
}
.fw-800{
    font-weight: 800;
}
.fw-900{
    font-weight: 900;
}
.fw-1000{
    font-weight: 1000;
}
.fs-16{
    font-size: 16px;
}
.fs-18{
    font-size: 18px;
}
.fs-36{
    font-size: 36px;
    line-height: 44px;
}
.fs-64{
    font-size: 64px;
    line-height: 72px;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.heading{
    color: var(--darkColor);
    font-size: 40px; 
    line-height: 48px;
    font-weight: 800; 
}
.subheading{
    max-width: 643px;
    margin-left: auto;
    margin-right: auto;
}
.normal-text{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.default-text{
    color: #5A5A5D;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}
/* Typography Ends Here */

/* Padding Starts Here */
.pt-10{
    padding-top: 10px;
}
.pt-50{
    padding-top: 50px;
}
.pb-50{
    padding-bottom: 50px;
}
.py-50{
    padding: 50px 0px;
}
/* Padding Ends Here */

/* Margin Starts Here */
.mb-16{
    margin-bottom: 16px;
}
.mb-24{
    margin-bottom: 24px;
}
.mb-32{
    margin-bottom: 32px;
}
.mb-48{
    margin-bottom: 48px;
}
/* Margin Ends Here */

/* Buttons Starts Here */
.primary-button{
    display: inline-block;
    background-color: var(--tertiaryColor);
    border-radius: 8px; 
    color: white;
    font-size: 20px; 
    font-weight: 800;
    padding: 14px 28px;
    border-color: transparent;
}
/* Buttons Ends Here */
/* Shared Classes Ends Here */

/* Header Starts Here */
.navbar-logo a > span{
    margin-left: 16px;
}
.navbar-items > li{
    margin-right: 45px;
}
.navbar-items > li:last-child{
    margin-right: 0;
}
.navbar-items > li > a{
    transition: 0.4s ease-in-out;
}
.navbar-items > li:hover > a,
.navbar-items > li > a.active{
    color: var(--tertiaryColor);
}
.mobile-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 100;
}
.mobile-menu::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.mobile-menu-logo a{
    display: inline-block;
}
.mobile-menu-icon{
    font-size: 26px;
    color: #131318;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
#hamburgerIcon{
    transition: 0.4s ease-in-out;
}
#hamburgerIcon:hover{
    color: #FF5400;
}
#checkBox:checked~.mobile-menu-icon #hamburgerIcon,
#checkBox,
.mobile-menu-icon #closeIcon{
    display: none;
}
#checkBox:checked~.mobile-menu-icon #closeIcon{
    display: block;
    color: #FF5400;
}
#checkBox:not(:checked)~.mobile-menu-items{
    opacity: 0;
    visibility: hidden;
}
#checkBox:checked~.mobile-menu-items{
    opacity: 1;
    visibility: visible;
}
.mobile-menu-items{
    position: absolute;
    top: 120%;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(50px);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 16px;
    transition: 0.4s ease-in-out;
}
.mobile-menu-items a{
    font-size: 20px;
    line-height: 28px;
    color: #f4f4f4;
    display: block;
    margin-bottom: 20px;
    transition: 0.4s ease;
}
.mobile-menu-items a.active-page,
.mobile-menu-items a:hover{
    color: #FF5400;
}
.mobile-menu-items a:last-child{
    margin-right: 0;
}
/* Header Ends Here */

/* Hero Area Starts Here */
.hero-area{
    border-radius: 16px; 
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../images/hero/banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 106px 0px;
}
.hero-area-content p{
    max-width: 676px;
    margin: 0px auto 48px auto;
}
.search-form{
    max-width: 768px;
    margin: 0 auto;
    padding: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
.search-form form{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
}
.search-form form select,
.search-form form input[type="text"]{
    padding: 16px;
    border-radius: 8px; 
    background: #FFF; 
    color: rgba(19, 19, 24, 0.50); 
    font-size: 16px; 
    font-weight: 400; 
    border-color: transparent;
    outline: 0;
}
.search-form form input[type="text"]{
    max-width: 174px;
}
.search-form form select{
    min-width: 174px;
}
.search-form form button[type="submit"]{
    padding: 16px;
    border-radius: 8px;
    background: var(--tertiaryColor); 
    color: #FFF; 
    font-size: 16px; 
    font-weight: 700; 
    border-color: transparent;
    outline: 0;
}
.search-form form button span{
    margin-right: 8px;
}
/* Hero Area Ends Here */

/* Popular Tours Starts Here */
.popular-tours{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
}
.popular-tours-info-point{
    padding-left: 12px;
    position: relative;
}
.popular-tours-info-point::before{
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: #424247;
}
/* Popular Tours Ends Here */

/* Choose Destination Starts Here */
.choose-destination-subheading{
    max-width: 643px;
    margin-left: auto;
    margin-right: auto;
}
.choose-destination{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 24px;
}
.first-destination{
    grid-column: 1 / 7;
}
.second-destination{
    grid-column: 7 / -1;
}
.third-destination{
    grid-column: 1 / 5;
}
.forth-destination{
    grid-column: 5 / 10;
}
.fifth-destination{
    grid-column: 10 / -1;
}
.sixth-destination{
    grid-column: 1 / 6;
}
.seventh-destination{
    grid-column: 6 / -1;
}
.choose-destination-card{
    position: relative;
}
.choose-destination-card h5{
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF; 
    font-size: 28px; 
    font-weight: 800; 
}
/* Choose Destination Ends Here */     

/* Choose Us Starts Here */     
.choose-us{
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 24px;
} 
.first-choose-us-card{
    grid-column: 1 / 7;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}     
.second-choose-us-card{
    grid-column: 7 / -1;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}     
.third-choose-us-card{
    grid-column: 4 / 10;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}   
.choose-us-card{
    padding: 32px;
} 
.choose-us-card h5{
    margin-top: 32px;
    margin-bottom: 16px;
    color: var(--darkColor);
    font-size: 24px; 
    font-weight: 800; 
} 
/* Choose Us Ends Here */    

/* Deals Discounts Starts Here */
.deals-discounts{
    margin: 48px 0px; 
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 24px;
}
.deals-discounts-content{
    border-radius: 16px; 
    padding: 55px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.first-deals-discounts-content{
    background-image: url('../images/discount/01.png');
}
.second-deals-discounts-content{
    background-image: url('../images/discount/02.png');
}
.third-deals-discounts-content{
    background-image: url('../images/discount/01.png');
}
.deals-discounts-card{
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 50px;
}
.deals-discounts-card-top{
    display: flex;
    align-items: center;
    gap: 24px;
}
.deals-discounts-card-top p{
    color: #5A5A5D; 
    font-size: 16px; 
    font-weight: 400; 
}
.deals-discounts-card-top p span{
    margin-right: 8px;
    color: var(--tertiaryColor);
}
.deals-discounts-card h4{
    font-size: 24px; 
    font-weight: 800;
    color: var(--darkColor);
    margin-top: 26px;
    margin-bottom: 16px;
}
.deals-discounts-card h5{
    font-size: 20px; 
    font-weight: 800;
    color: var(--tertiaryColor);
    margin-top: 16px;
    margin-bottom: 24px;
}
.first-deals-discounts-card{
    grid-column: 7 / -1;
}
.second-deals-discounts-card{
    grid-column: 1 / 7;
}
/* Deals Discounts Ends Here */

/* CTA Area Starts Here */
.cta-area{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
}
.cta-area-left .cta-area-left-point{
    font-size: 16px; 
    font-weight: 700;
    color: var(--darkColor);
    margin-bottom: 16px;
    position: relative;
    padding-left: 12px;
}
.cta-area-left .cta-area-left-point::before{
    position: absolute;
    content: '';
    top: 10px;
    left: 0px;
    height: 5px;
    width: 5px;
    background-color: var(--darkColor);
    border-radius: 50%;
}
.cta-area-left .primary-button{
    margin-top: 16px;
}
.cta-area-right .video{
    width: 100%;
    height: auto; 
    border-radius: 16px;
    object-fit: cover;
    cursor: pointer;
}
/* CTA Area Ends Here */

/* Recent Blogs Starts Here */
.recent-blogs{
    padding: 50px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
}
.recent-blogs-card{
    border-radius: 10px;
    padding: 16px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.recent-blogs-card a{
    display: block;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    color: var(--simpleDark);
    margin-bottom: 16px;
}
.recent-blogs-card a img{
    border-radius: 10px;
}
.recent-blogs-card span{
    color: var(--tertiaryColor);
    font-size: 14px;
    font-weight: 600;
}
/* Recent Blogs Ends Here */

/* Newsletter Starts Here */
.newsletter{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 24px;
}
.newsletter-left{
    grid-column: 1 / 6;
    border-radius: 16px;
    border: 1px solid var(--tertiaryColor);
    padding: 40px;
}
.newsletter-left h4{
    font-size: 24px; 
    font-weight: 800;
    color: var(--darkColor);
    margin-bottom: 16px;
}
.newsletter-left p{
    color: #5A5A5D;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin-bottom: 10px;
}
.newsletter-left form{
    padding-top: 24px;
    border-top: 1px solid #1313181a;
}
.newsletter-left form input{
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    padding: 16px 20px;
    color: rgba(19, 19, 24, 0.30); 
    font-size: 16px; 
    font-weight: 400; 
    width: 100%;
    outline: 0;
    border-color: transparent;
}
.newsletter-right{
    grid-column: 6 / -1;
    position: relative;
}
.newsletter-right-badge{
    padding: 15px 25px;
    background-color: var(--tertiaryColor);
    color: white;
    border-radius: 16px; 
    max-width: 324px;
    text-align: center;
    transform: rotate(-19.628deg); 
    position: absolute;
    right: 4px;
    bottom: 50px;
}
.newsletter-right-badge a{
    display: inline-block;
    color: #FFF; 
    font-size: 24px; 
    font-weight: 400; 
    margin-bottom: 6px;
}
.newsletter-right-badge h5{
    color: #FFF; 
    font-size: 32px; 
    font-weight: 800; 
}
/* Newsletter Ends Here */

/* Footer Starts Here */
footer{
    background-color: rgba(19, 19, 24, 0.05);
    padding: 50px 0px;
}
footer .default-text{
    max-width: 769px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 20px;
}
.social-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.social-links a{
    display: inline-block;
    color: var(--darkColor);
    font-size: 20px;
    transform: scale(1);
    transition: 0.4s all ease-in-out;
}
.social-links a:hover{
    transform: scale(1.1);
    color: var(--tertiaryColor);
}
.footer-bottom{
    margin-top: 50px;
    padding-top: 50px;
    border-top: 1px solid #1313181a;
}
.footer-bottom p{
    font-size: 16px; 
    font-weight: 300; 
    color: var(--darkColor);
}
/* Footer Ends Here */
.d-none{
    display: none;
}